* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1.5px;
}
body {
    font-family: "Tinos",serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width:100%;
    background:$purewhiteColor;
}
h1 {
    font-size: $title01;
}
h2 {
    font-size: $title02;
}
h3 {
    font-size: $title03;
}
h4 {
    font-size:$subtitle;
}
h5 {
    font-size:$navigation;
}
p {
    font-size:$paragraph;
}
a {
    font-size:$link;
    letter-spacing: 1px;
}

@media screen and (min-width: 500px) and (max-width:900px) { 
    h1 {
        font-size: $twotitle01;
    }
    h2 {
        font-size: $twotitle02;
    }
    h3 {
        font-size: $twotitle03;
    }
    h4 {
        font-size:$twosubtitle;
    }
    h5 {
        font-size:$twonavigation;
    }
    p {
        font-size:$twoparagraph;
    }
    a {
        font-size:$twolink;
        letter-spacing: 1px;
    }    
}

@media screen and (min-width: 310px) and (max-width:500px) { 
    h1 {
        font-size: $threetitle01;
    }
    h2 {
        font-size: $threetitle02;
    }
    h3 {
        font-size: $threetitle03;
    }
    h4 {
        font-size:$threesubtitle;
    }
    h5 {
        font-size:$threenavigation;
    }
    p {
        font-size:$threeparagraph;
    }
    a {
        font-size:$threelink;
        letter-spacing: 1px;
    }    
}
.actual{
    color:$caramelColor !important;
}
@mixin flexbox($position ,$position2 , $direction) {
    display:flex;
    align-items: $position;
    justify-content: $position2;
    flex-direction: $direction;
}
@mixin button ($background ,$border ,$color,$leftright , $height){
    @include flexbox(center,center ,row);
    background:$background;
    border: $border;
    color:$color;
    padding:$leftright;
    transition: 0.4s all ease-in-out;
    height:$height;
}