
#header {
    width:100vw;
    .user_services {
        height:50px;
        width:100%;
        background: $purewhiteColor;
        position: relative;
        @include flexbox(center,center,row);
        .options{
            height:100%;
            position:absolute;
            left:5vw;
            @include flexbox(center,unset,row);
        }
        .client_area {
            height:100%;
            position:absolute;
            right:5vw;
            @include flexbox(center,unset,row);
            .my_settings {
                display:inline;
                @include flexbox(center,unset,row);
            }
            .auth_button {
                @include button($caramelColor,none,$purewhiteColor,0px 5px,100%);
                @include flexbox(center,center,row);
                a:nth-child(1) {
                    color:$lightgrey4;
                    text-decoration: none;
                } 
                a {
                    padding:0px 5px;
                    color:$purewhiteColor;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                      
            }
        }
        a {
            padding-right:25px;
            color:$lightgrey2;
            transition: 0.4s all ease-in-out;
            &:hover {
                color:$pureblackColor;
            }
        }
    }
    .user_navigation {
        height:78px;
        width:100%;
        background:$ironColor;
        position: relative;
        @include flexbox(center,unset ,row );
        .logo {
            width:170px;
            height:70px;
            position: absolute;
            left:4.5vw;
        }
        .logo img{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center center;
        }
        .links {
            position:absolute;
            right:5vw;
            @include flexbox(center,unset,row);
            a {
                padding-right:40px;
               
                transition: 0.4s all ease-in-out;
                font-size:$paragraph;
                &:hover {
                    color:$purewhiteColor;
                }
            }
            .home,.rooms,.services,.about,.contact {
                color:$lightgrey1;
            }
            .book_button {
                @include button($purewhiteColor,none,$pureblackColor,0px 5px,unset);
                a {
                    padding:7px;
                    font-size:$link;
                    color:$pureblackColor;
                }
            }
           
        }
        .navigation {
            flex-direction:row;
            align-items:center;
            height:100%;
            display:none;
            position:absolute;
            right:5vw;
        }
        .navigation a {
            font-size:0.95vw;
            padding: 0px 10px;
            letter-spacing: 2.5px;
            font-weight:bold;
            transition:0.4s ease-in-out;
            color:#ededed;
        }
        .navigation a:hover {
            color:$caramelColor;
            transform:scale(1.1);
        }
        .navigation .hamburger-menu{
            display:none;
            align-items:center;
            justify-content: center;
            flex-direction:column;
            position:fixed;
            top:0;
            right:0;
            z-index:20;
            width:25%;
            height:100%;
            background: $ironColor;
            -webkit-box-shadow: -3px 3px 10px 3px rgba(10,9,10,0.93); 
            box-shadow: -3px 3px 10px 3px rgba(10,9,10,0.93);
        }
        .navigation .hamburger-menu a{
            padding-top:50px;
            font-size:1.5vw;
            color:$purewhiteColor;
        }
        .navigation .hamburger-menu  a:hover {
            color:$caramelColor;
            transform: translateX(10px);
        }
        .navigation .hamburger{
            margin-left:10px;
            cursor:pointer;
            position:relative;
            z-index:21;
        }
        .navigation .hamburger .line1 , .line2 , .line3{
            width:30px;
            height:2px;
            margin:7px 0px;
            background:#ededed;
            transition:0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        .navigation .hamburger:hover .line1{
            background:$caramelColor;
        }
        .navigation .hamburger:hover .line2{
            background:$caramelColor;
        }
        .navigation .hamburger:hover .line3{
            background:$caramelColor;
        }
         .change .line1{
            transform: rotate(-45deg) translate(-8px, 6px) ;
        }
         .change .line2{
            opacity:0;
        }
         .change .line3{
            transform: rotate(45deg) translate(-8px, -6px) ;
        }
       
    }
}

@keyframes menu {
    from {
        opacity:0;
        transform:translateX(100%);
    }
    to {
        opacity:1;
        transform:translateX(0%);
    }
}
@keyframes menu_x {
    from {
        opacity:1;
        transform:translateX(0%);
    }
    to {
        opacity:0;
        transform:translateX(100%);
    }
}