@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$caramelColor: #C19B76;
$ironColor: #1c1c1d;
$purewhiteColor: #fff;

$darkcaramelColor: #bf7651;
$pureblackColor: #000;
$lightwhiteColor: #f8f8ff;

$lightgrey1: #9c9c9c;
$lightgrey2: #7c7c7c;
$lightgrey3: #5c5c5c;
$lightgrey4: #3c3c3c;

$title01: 70px;
$title02: 55px;
$title03:  45px;
$subtitle: 35px;
$navigation: 20px;
$paragraph: 1.2vw;
$link: 0.9vw;

$twotitle01: 40px;
$twotitle02: 35px;
$twotitle03: 30px;
$twosubtitle: 25px;
$twonavigation: 18px;
$twoparagraph: 15px;
$twolink: 13.5px;


$threetitle01: 30px;
$threetitle02: 27px;
$threetitle03: 25px;
$threesubtitle: 22px;
$threenavigation: 16px;
$threeparagraph: 13px;
$threelink: 12px;

@import "./general";
@import "./scrollbar";
@import "./preloader";
@import "./header";
@import "./footer";
@import "./home";
@import "./rentroom";
@import "./services";
@import "./about";
@import "./contact";
@import "./authreg";
@import "./mobile";

